REACT_APP_API_URL='https://vrep-elementary-back-dev.onrender.com/'
REACT_APP_TOKEN='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY2MzQzNGIxNDIwYTMwYzFiNjYyMjNkYyIsImVtYWlsIjoibm9idWRldjIzQGdtYWlsLmNvbSIsImZpcnN0X25hbWUiOiJzdGVwaGVuIiwibGFzdF9uYW1lIjoia3dhc2kiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MTQ2OTczOTQsImV4cCI6MTcxNTIxNTc5NH0.z51zcToocs2SxGUU3kt0XuLRnXas4GUNOFpOqkwa6iU'