.auth-container {
  display: flex;
  width: 100%;
  max-width: 100%;
  align-items: center;
  height: 100vh;
  gap: 12rem;
  overflow: hidden;
}

.auth-container .auth-image-container {
  height: 100vh;
}
.auth-container .auth-image-container > img {
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  min-width: 40%;
  min-height: 70vh;
}

.logo-reset-container {
  margin-bottom: 60px;
}

.main-container .registr-link-title {
  text-align: center;
  font-weight: 700;
  color: #434343;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.main-title-section > h2 {
  color: #434343;
  font-size: 2rem;
  white-space: nowrap;
  margin-bottom: 1rem;
}
.main-title-section > h2 > img {
  margin-left: 1rem;
}

.main-title-section > p {
  color: #bdbdbd;
  font-size: 1rem;
}
.main-title-section > p > a {
  color: #082567;
  font-size: 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-container > h2 {
  font-weight: 500;
  letter-spacing: 0.1px;
  margin: 0;
}

.form-container .input-group {
  display: flex;
  flex-direction: column;
  position: relative;
}
.form-container label {
  color: #434343;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.form-container .check-btn {
  display: flex;
  justify-content: space-between;
}

.check-btn > div > label {
  color: #cdcdcd;
  padding-inline: 0.5rem;
}

.form-container .check-btn a {
  font-size: 1rem;
  color: #082567;
}

.input-group input {
  padding: 0.5rem;
  padding-left: 2.5rem;
  border: 1px solid #bfbfbf;
  color: #434343;
  border-radius: 5px;
}

.form-container > button {
  color: #fff;
  background-color: #082567;
  border-radius: 5px;
  border: none;
  height: 3rem;
  font-size: 1rem;
  margin-top: 3rem;
}

.input-item {
  position: absolute;
  top: 55%;
  left: 5px;
  display: flex;
  align-items: center;
  font-size: 22px;
  cursor: pointer;
  color: #555555;
}

#eye {
  position: absolute;
  top: 55%;
  right: 10px;
  left: unset;
}

.input-item > img {
  height: 1.5rem;
  width: 1.5rem;
}

.successful {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.successful .btn-form {
  text-align: center;
  padding: 1rem;
  color: #fff;
  background-color: #082567;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  margin-top: 3rem;
}

.successful h3 {
  color: #434343;
  font-size: 1.75rem;
  font-weight: 500;
}

.verification-code {
  align-items: center;
}

.verification-code > button {
  width: 100%;
}

.verification-code > p {
  color: #cdcdcd;
}
.verification-code > p > a {
  font-size: 1rem;
  color: #082567;
}

.otp-code {
  display: flex;
  margin: 10px 0 30px 0;
  justify-content: center;
}

.otp-code input {
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 30px;
  margin: 10px;
  border: none;
  border-bottom: 3px solid #434343;
  background-color: transparent;
}

.otp-code input:focus {
  outline: none;
}

.otp-code input:valid {
  border-bottom: 3px solid green;
  transition: all 0.4s;
}

.registr-login-link-title {
  display: none;
}

@media (max-width: 1200px) {
  .auth-container .auth-image-container {
    display: none;
  }

  .main-container {
    padding: 20px;
    min-width: 100% !important;
    min-height: 100vh;
  }

  .main-container .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center !important;
    justify-content: center;
  }

  .main-container .logo-container h1 {
    display: flex;
    align-items: center;
  }

  .main-title-section {
    background: aqua;
    text-align: center;
    display: none;
  }

  .form-container {
    gap: 15px;
  }

  .form-container button {
    margin-top: 1.5rem !important;
  }

  .input-group input {
    outline: none;
  }

  .form-container > h2 {
    text-align: center;
  }

  .registr-login-link-title {
    display: block;
  }
}