.modal-overlay {
  background-color: rgba(10, 39, 103, 0.5);
  width: 100%;
  z-index: 10;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
