@import 'typeface-poppins'; 

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 0;

}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: #D4DAEE;
  border-radius: 10px;
}
 ::-webkit-scrollbar-thumb {
  background: #8599DD;
  border-radius: 10px;
}
 ::-webkit-scrollbar-thumb:hover {
  background: #8599DD;
  border-radius: 10px;
  height: 20px;
  
} 



body ::-webkit-scrollbar {
  background-color:#D4DAEE;
  width: 12px;
  height: 100%;
  border-radius: 10px;
}
